In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [3]:
diabates_dataset = pd.read_csv('diabates.csv')

In [4]:
diabates_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
# number of rows and Columns in this dataset
diabates_dataset.shape

(700, 9)

In [7]:
# getting the statistical measures of the data
diabates_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
mean,3.827143,120.541429,68.790000,20.382857,79.880000,31.891286,0.476019,33.124286,0.344286
std,3.364394,32.208854,19.680136,16.032219,115.590119,7.949977,0.337357,11.784558,0.475475
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.000000,0.240000,24.000000,0.000000
50%,3.000000,116.500000,72.000000,23.000000,36.500000,32.000000,0.375500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,126.500000,36.500000,0.637000,40.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
diabates_dataset['Outcome'].value_counts()

0    459
1    241
Name: Outcome, dtype: int64

In [10]:
diabates_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.272331,109.830065,67.891068,19.368192,67.666667,30.126362,0.434362,31.187364
1,4.883817,140.941909,70.502075,22.315353,103.141079,35.252697,0.555357,36.813278

In [25]:
# separating the data and labels
X = diabates_dataset.drop(columns = 'Outcome', axis=1)
Y = diabates_dataset['Outcome']

In [26]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
695    1
696    1
697    0
698    0
699    0
Name: Outcome, Length: 700, dtype: int64

In [27]:
scaler = StandardScaler()

In [28]:
scaler.fit(X)

StandardScaler()

In [29]:
StandardScaler(copy=True, with_mean=True, with_std=True)

StandardScaler()

In [30]:
standardized_data = scaler.transform(X)

In [31]:
print(standardized_data)

[[ 0.64630087  0.85312583  0.16322526 ...  0.21508691  0.44786213
   1.43304327]
 [-0.84091349 -1.10425668 -0.14186868 ... -0.66604834 -0.37084749
  -0.18038901]
 [ 1.24118662  1.94056056 -0.24356666 ... -1.08144067  0.58134739
  -0.09547152]
 ...
 [-1.13835637 -0.66928279 -3.497902   ... -0.86745068 -0.66154873
  -0.9446464 ]
 [ 0.05141513  0.200665    0.97680909 ...  0.32837573  0.36183829
  -0.43514147]
 [ 0.05141513 -0.07896108 -3.14195907 ...  1.58714037  1.26953808
  -0.60497645]]

In [32]:
X = standardized_data
Y = diabates_dataset['Outcome']

In [33]:
print(X)
print(Y)

[[ 0.64630087  0.85312583  0.16322526 ...  0.21508691  0.44786213
   1.43304327]
 [-0.84091349 -1.10425668 -0.14186868 ... -0.66604834 -0.37084749
  -0.18038901]
 [ 1.24118662  1.94056056 -0.24356666 ... -1.08144067  0.58134739
  -0.09547152]
 ...
 [-1.13835637 -0.66928279 -3.497902   ... -0.86745068 -0.66154873
  -0.9446464 ]
 [ 0.05141513  0.200665    0.97680909 ...  0.32837573  0.36183829
  -0.43514147]
 [ 0.05141513 -0.07896108 -3.14195907 ...  1.58714037  1.26953808
  -0.60497645]]
0      1
1      0
2      1
3      0
4      1
      ..
695    1
696    1
697    0
698    0
699    0
Name: Outcome, Length: 700, dtype: int64

In [34]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [35]:
print(X.shape, X_train.shape, X_test.shape)

(700, 8) (560, 8) (140, 8)

In [36]:
classifier = svm.SVC(kernel='linear')

In [37]:
#training the support vector Machine Classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [38]:
# accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [39]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.7732142857142857

In [40]:
# accuracy score on the test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [41]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.7714285714285715

In [42]:
input_data = (5,166,72,19,175,25.8,0.587,51)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

[[ 0.348858    1.41237798  0.16322526 -0.08631656  0.82349613 -0.76674951
   0.32920856  1.51796075]]
[1]
The person is diabetic